/*Navigation*/
#navbar{
    flex-direction: column;
}
navbar ul li a{
    font-size: 1rem;
    padding: 8px 7px;
}

/*home*/
#home{
    height: 450px;
    padding: 80px 40px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 1rem;
}
/*services*/
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
    
}
/*services1*/
#services1{
    flex-direction: column;
    flex-wrap: wrap;
}
#services1 .box1{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;

}

/*contact*/
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
