*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height: 59px;

}
#navbar{
    display: flex;
    align-items: center;
    
}
#logo{
    margin: 10px 34px;

}
#logo img{
    height:100px ;
    margin: 8px 15px;
}
#navbar{
    position: absolute;
    top: 0px;
}
#navbar ul{
    display:flex;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
#navbar ul li{
    
    list-style: none;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
}
/*home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 633px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(back3.jpg) no-repeat center center/cover;
    position: absolute;
    height: 79%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: serif;
}
#services{
    margin: 34px;
    display: flex;
    
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 20px;
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.253);
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-family: cursive
}
#services1{
    margin: 34px;
    display: flex;
    
}
#services1 .box1{
    border: 2px solid rgba(46, 165, 42, 0.781);
    padding: 34px;
    margin: 25px;
    border-radius: 23px;
    background-color: blanchedalmond;
}
#services1 .box1 img{
    height: 160px;
    margin: auto;
    display: block;
}
#services1 .box1 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-style: italic;
}

/*contact*/
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(contact2.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: fantasy;
}
footer{
    background-color: black;
    color: white;
    padding:0px ;
}
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: monospace;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color:rgba(52, 165, 42, 0.808);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
    justify-content: center;
}
